[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
python-dotenv = "*"
langchain-google-genai = "*"
grpcio = "==1.67.1"
grpcio-status = "==1.67.1"

[dev-packages]

[requires]
python_version = "3.13"
